language: rust

before_install:
- openssl enc -K $SSL_ENC_KEY -iv $SSL_ENC_IV -in ./.travis/id_rsa -out ~/.ssh/id_rsa -d

rust:
- nightly

script:
- cargo build --all
- cargo test  --all
- cargo doc   --all --lib --no-deps

after_success: cat .travis/travis-doc-upload.sh | sh
